anthropic==0.29.2
chromadb
cohere==5.11.2
docling==2.15.1
docling-core==2.14.0
docling-ibm-models==3.1.2
docling-parse==3.0.0
docstring_parser==0.16
groq==0.13.0
huggingface-hub==0.28.1
InstructorEmbedding==1.0.1
langchain==0.3.17
langchain-chroma==0.1.4
langchain-cohere==0.3.1
langchain-community==0.3.16
langchain-core==0.3.34
langchain-docling==0.2.0
langchain-experimental==0.3.2
langchain-google-vertexai==2.0.9
langchain-groq==0.2.1
langchain-huggingface==0.1.0
langchain-milvus==0.1.7
langchain-openai==0.2.3
langchain-text-splitters==0.3.5
langchain-together==0.2.0
langcodes==3.5.0
langdetect==1.0.9
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-sdk==0.1.47
langserve==0.3.0
langsmith==0.1.133
language_data==1.3.0
layoutparser==0.3.4
lazy_loader==0.4
litellm==1.50.2
llama-cloud==0.1.4
llama-parse==0.5.11
llvmlite==0.43.0
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.14.1
markdownlit==0.0.7
markitdown==0.0.1a3
milvus-lite==2.4.10
nest-asyncio==1.6.0
numpy==1.26.4
openai==1.58.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pandas==2.2.3
pymilvus==2.4.9
PyMuPDF==1.24.12
pymupdf4llm==0.0.17
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.0
pytorch-lightning==2.5.0.post0
qdrant-client==1.12.0
ragas==0.2.13
ragchecker==0.1.9
rank-bm25==0.2.2
sentence-transformers==3.4.1
sentencepiece==0.2.0
streamlit==1.39.0
streamlit-aggrid==1.0.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-pills==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tavily-python==0.5.0
together==1.3.3
tokenizers==0.21.0
torch==2.4.1
torchaudio==2.4.1
torchmetrics==1.6.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.5
transformers==4.47.0
trulens==1.3.0
trulens-apps-langchain==1.1.0
trulens-apps-llamaindex==1.1.0
trulens-core==1.2.10
trulens-dashboard==1.2.11
trulens-feedback==1.2.11
trulens-otel-semconv==1.2.11
trulens-providers-huggingface==1.1.0
trulens-providers-langchain==1.1.0
trulens-providers-litellm==1.1.0
trulens-providers-openai==1.2.11
trulens_eval==1.3.0
unstructured==0.16.5
unstructured-client==0.27.0
unstructured-inference==0.8.1
unstructured.pytesseract==0.3.13